.bottom-bar {
  display: flex;
  justify-content: flex-end;
  margin: var(--side-margin);
  margin-top: 0;
  padding: var(--bar-padding) 0 0;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

/* The in-game class is set by the game component */
:global .in-game :local .bottom-bar {
  position: fixed;
}

.bottom-bar::before {
  content: '';
  height: 1px;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}

.fullscreen {
  composes: unbutton from '../../utils.css';
  fill: #fff;
  width: var(--icon-size);
  height: var(--icon-size);
}

html:fullscreen .fullscreen {
  visibility: hidden;
}

@media (display-mode: fullscreen) {
  .fullscreen {
    visibility: hidden;
  }
}
