:root {
  --size: 20px;
}

html {
  touch-action: manipulation;
}

label {
  display: block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tr,
td,
td>* {
  height: var(--size);
  margin: 0;
  border: 0;
  padding: 0;
}

td,
td>* {
  width: var(--size);
  line-height: 0;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

td>*.empty {
  background-color: transparent;
}

button {
  background-color: none;
  outline: none;
  width: var(--size);
  height: var(--size);
  border: 1px solid black;
}

label {
  display: block;
}

button[revealed][mine] {
  visibility: visible !important;
  background: none;
  border: none;
}

button[revealed][touching] {
  visibility: visible !important;
  background: none;
  border: none;
}

button[revealed] {
  visibility: hidden;
}

.revealed {
  background-color: red;
}
