.time-icon {
  position: relative;
}

@keyframes time-spin {
  to {
    transform: rotate(360deg);
  }
}

.time-icon::after {
  content: "";
  background: #fff;
  height: 28%;
  width: 8.6%;
  position: absolute;
  top: 30%;
  left: 45.7%;
  transform-origin: 50% 86%;
}

.time-icon-animate::after {
  animation: time-spin 10s linear infinite;
}

.time-icon-svg {
  display: block;
}
