.open{
  display: block;
}

.closed {
  display:none;
}

.settings-window {
  display: inline-block;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:50%;
  background-color: black;
}