.settings {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 1);
  overflow-x: auto;
}

.settings.closed {
  display: none;
}

.settings .settings-window {
  display: flex;
  flex-direction: column;
  xalign-items: center;
  xjustify-content: center;
  height: 100%;
}

.settings .settings-window .settings-content {
  width: 100%;
  max-width: 33rem;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
}

.close-button {
  composes: circle-button from "../../utils.css";
  fill: #000;
  position: fixed;
  right: 20px;
  top: 20px;
  width: var(--circlebtn-size);
  height: var(--circlebtn-size);
}

.button, .button-on, .button-off {
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin: 1.2rem 0 0 !important;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}

.button {
  composes: button from "../../utils.css";
}

.button-on{
  composes: button-on from "../../utils.css";
}
.button-off{
  composes: button-off from "../../utils.css";
}