.board {
  height: 100%;
}

.game-table {
  position: relative;
  display: inline-block;
  opacity: 0;
  margin: auto;
  padding: 43px var(--side-margin);
}

@media (min-width: 320px) {
  .game-table {
    padding: 70px var(--side-margin);
  }
}

.game-row {
  display: flex;
}

.game-cell {
  display: block;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: var(--cell-padding);
  overflow: hidden;
  flex-shrink: 0;
}

.button {
  width: var(--cell-size);
  height: var(--cell-size);
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  overflow: hidden;
  outline: none;
}

.container {
  display: flex;
  min-height: 100%;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
