.board {
  height: 100%;
  width: 100%;
}

.game-table {
  position: relative;
  display: inline-block;
  opacity: 0;
  margin: auto;
  padding: var(--bar-avoid) calc(var(--side-margin) - var(--cell-padding));
  user-select: none;
}

.game-row {
  display: flex;
}

.game-cell {
  display: block;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: var(--cell-padding);
  overflow: hidden;
  flex-shrink: 0;
}

.button {
  width: var(--cell-size);
  height: var(--cell-size);
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  overflow: hidden;
  outline: none;
}

.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* Ok. Strap in. We don't want the URL bar to show and hide, because it doesn't make sense for our
  UI. If the main scrolling element fills the screen, Chrome tries to be helpful and show/hide the
  URL bar when scrolling. Adding 1px to the bottom overcomes that. Stupid. */
  bottom: 1px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
