.game {
  display: flex;
  flex: 1;
  align-items: center;
}

.toggle-label {
  position: fixed;
  bottom: 8px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  mix-blend-mode: screen;
  z-index: 1;
  cursor: pointer;
}

@media (min-width: 320px) {
  .toggle-label {
    bottom: 27px;
  }
}

.toggle {
  display: block;
  overflow: hidden;
  background: white;
  height: 16px;
  width: 32px;
  border-radius: 16px;
}

.toggle::before {
  content: "";
  margin: 4px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #000;
  display: block;
}

:checked+.toggle::before {
  margin-left: auto;
}

.checkbox {
  opacity: 0;
}

.left-toggle-label,
.right-toggle-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0.6rem;
}

.left-toggle-label {
  right: 100%;
}

.right-toggle-label {
  left: 100%;
}

.again-button,
.main-button {
  text-transform: uppercase;
  display: block;
  width: 100%;
  /** PostCSS adding classes in wrong order :( */
  margin: 0.6rem 0.4rem !important;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}


.again-button {
  composes: button from "../../utils.css";
}

.main-button {
  composes: button-alt from "../../utils.css";
  /** PostCSS adding classes in wrong order :( */
  background: #000 !important;
}

.exit-row {
  position: fixed;
  bottom: 38px;
  left: 0;
  right: 0;
  margin: 0 var(--side-margin);
}

@media (min-width: 320px) {
  .exit-row {
    bottom: 77px;
  }
}

@media (min-width: 440px) {
  .exit-row-inner {
    display: flex;
  }
}

.exit-row-inner {
  max-width: 33rem;
  margin: 0 auto;
}
