.game-table {
  background: #fff;
  position: relative;
  display: block;
  opacity: 0;
}

.container {
  width: min-content;
  position: relative;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
