.game {
  color: #fff;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.relative {
  position: relative;
}

.nebula-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
