html {
  /* Catch any browsers that still overscroll (eg Safari) */
  background-color: #000;
  font-family: 'Space Mono';
  font-size: 0.7em;
  --cell-size: 25px;
  --cell-padding: 2px;
  --side-margin: 10px;
  --icon-size: 15px;
  --bar-avoid: 43px;
  --border-radius: 7px;
}

/* We're assuming (totally safe, right?) that widths below 320 are feature phones */
@media (min-width: 320px) {
  html {
    font-size: 1em;
    --cell-size: 40px;
    --cell-padding: 5px;
    --side-margin: 20px;
    --icon-size: 24px;
    --bar-avoid: 70px;
  }
}

body {
  overscroll-behavior: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  height: 100%;
}

.game {
  user-select: none;
  color: #fff;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.relative {
  position: relative;
}

:global :focus:not(.focus-visible) {
  outline: none;
}
