html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  background: linear-gradient(to bottom, #00023d, #54216c);
}

.main {
  height: 100%;
}

.game {
  user-select: none;
  color: #fff;
  display: flex;
  flex-flow: column;
  height: 100%;
}
