html {
  /* Catch any browsers that still overscroll (eg Safari) */
  background-color: #000;
  --cell-size: 40px;
  --cell-padding: 5px;
}

body {
  overscroll-behavior: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  height: 100%;
}

.game {
  user-select: none;
  color: #fff;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.relative {
  position: relative;
}
