.unbutton {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  padding: 0;
  margin: 0;
}

.circle-button{
  composes: unbutton;
  background: #fff;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.1rem;
  border: 3px solid #fff;
}

.button,
.button-alt,
.button-on,
.button-off {
  composes: unbutton;
  background: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
  border-radius: var(--border-radius);
  padding: 0.9rem;
  border: 3px solid #fff;
}

.button {
  mix-blend-mode: screen;
}

.button-alt {
  background: none;
  color: #fff;
}

.button-on {
  background: #3ee5ea;
  border-color: #3ee5ea;
}

.button-off {
  color: #fff;
  background: #ff274b;
  border-color: #ff274b;
}
