.top-bar {
  composes: top-bar from "../top-bar-simple/style.css";
}

.squares-left {
  flex: 1;
  order: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.title {
  composes: title from "../top-bar-simple/style.css";
}

@media (max-width: 350px) {
  :global .in-game :local .title {
    display: none;
  }
}

.time {
  flex: 1;
  order: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
}

.time-icon,
.square-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.time-icon {
  margin-left: 0.7em;
  fill: #fff;
}

.square-icon {
  margin-right: 0.7em;
  fill: none;
  stroke-width: 2px;
  stroke: #fff;
}
