.top-bar {
  display: flex;
  margin: var(--side-margin);
  margin-bottom: 0;
  padding: 0 0 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

/* The in-game class is set by the game component */
:global .in-game :local .top-bar {
  position: fixed;
}

.top-bar::before {
  content: '';
  height: 1px;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

.squares-left {
  flex: 1;
  order: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.title {
  display: none;
  flex: 1;
  order: 2;
  text-align: center;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@media (min-width: 350px) {
  .title {
    display: block;
  }
}

.time {
  flex: 1;
  order: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
}

.time-icon,
.square-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: #fff;
}

.time-icon {
  margin-left: 0.4em;
}

.square-icon {
  margin-right: 0.4em;
}
