.intro {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.game-setting {
  white-space: nowrap;
}

.manual-settings {
  display: flex;
}

.manual-settings > * {
  flex: 1;
}

.button {
  border: 1px solid red;
}

.button:before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-color: black;
  margin-right: 0.5em;
}

.spinner:before {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
