<!doctype html>
<style>
html {
  touch-action: manipulation;
}
body {
  background-color: hsl(260, 50%, 10%);
}
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<main></main>
<pre id="log"></pre>
<script src="<%= hashmanifest["src/bootstrap.ts"]; %>" defer></script>
