<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<style>
  :root {
    --size: 20px;
  }
  html {
    touch-action: manipulation;
  }
  label {
    display: block;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  tr, td, td > * {
    height: var(--size);
    margin: 0;
    border: 0;
    padding: 0;
  }
  td, td > * {
    width: var(--size);
    line-height: 0;
  }
  td {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  .cell {
    outline: none;
    background-color: #bbb;
    width: var(--size);
    height: var(--size);
    text-align: center;
    /* line-height: var(--size); */
    font-size: var(--size);
    overflow: hidden;
  }
  td > *.empty {
    background-color: transparent;
  }
  button {
    background-color: none;
    outline: none;
    width: var(--size);
    height: var(--size);
    border: 1px solid black;
  }
  label {
    display: block;
  }
  button[revealed][mine]{
    visibility: visible !important;
    background: none;
    border: none;
  }
  button[revealed][touching] {
    visibility: visible !important;
    background: none;
    border: none;
  }
  button[revealed] {
    visibility: hidden;
  }
  .revealed {
    background-color: red;
  }
  .tile {
    will-change: transform;
  }
  <% for(let i = 1; i <= 8; i++) {%>
    td > *.touching-<%=i;%> {
      color: hsl(<%=240 - i/8*240;%>, 100%, 50%);
    }
  <% } %>
</style>
<main></main>
<pre id="log"></pre>
<table id="board"></table>
<script src="<%= hashmanifest["src/bootstrap.ts"]; %>" defer></script>
